body {
  font-family: 'Young Serif', serif;
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: white;
}

.orange-text {
  color: orange;
}

header {
  position: relative;
  background: url('pizza\ .jpg') no-repeat center center;
  background-size: cover;
  color: white;
  padding: 230px;
}
.menu-button {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  font-size: 14px;
  color: white;
  text-decoration: none;
  background: none; 
  border: none;
  cursor: pointer;
}

.menu-button:hover {
  text-decoration: underline;
}


.welcome-message {
  text-align: center;
}

.welcome-message .orange-text {
  color: orange;
  font-family: 'Playfair Display SC', serif;
  font-size: 120px;
}

main {
  padding: 20px;
  background-color: #333;
  color: rgb(255, 255, 255); 
}
.contact-form button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-form button:hover {
  background-color: darkorange;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-right: 30px;
  margin-left: 30px;
}

.button-container a {
  text-decoration: none;
}

.BEBIDAS, .PLATOS, .POSTRES {
  width: 8cm;
  height: 5cm;
  padding: 20px;
  border: none;
  color: rgb(86, 83, 83);
  font-size: 40px;
  font-weight: 0;
  font-family: 'Playfair Display SC', serif;
  cursor: pointer;
  border-radius: 15px;
  margin-left: 50px;
  transition: transform 0.3s;
  background-size: cover;
}

.BEBIDAS {
  background: url('cerveza.jpg') no-repeat center center;
  background-size: cover;
}

.PLATOS {
  background: url('lasagna2.jpg') no-repeat center center;
  background-size: cover;
}

.POSTRES {
  background: url('tiramisu.jpg') no-repeat center center;
  background-size: cover;
}

.button-container .BEBIDAS:hover, .button-container .PLATOS:hover, .button-container .POSTRES:hover {
  transform: scale(1.1);
}

footer {
  padding: 20px;
  color: rgb(66, 64, 64);
}

.menu-footer {
  text-align: right;
}

.menu-footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-footer {
  text-align: left;
}

.menu-link {
  text-decoration: none;
  color: orange;
  font-family: 'Young Serif', serif;
  font-size: 24px; 
  padding: 10px 20px;
  background-color: #333; 
  border-radius: 8px;
  display: inline-block; 
  max-width: none;
  margin-right: 10px; 
}

.menu-link:hover {
  background-color: #555; 
}

.logo-img {
  width: 200px; 
  height: auto; 
}

footer {
  padding: 20px;
  background-color: #333;
  color: rgb(66, 64, 64);
}
